<mat-toolbar color="primary">
  <mat-toolbar-row >
      <span  class="mat-body-1" fxShow fxHide.xs="true" fxHide.lg="false">
        <div>
          <app-metar [icao]="'ENTO'"></app-metar>
        </div>
        <div>
          <app-taf  [icao]="'ENTO'"></app-taf>
        </div>
      </span >
      <span class="spacer"></span>
      <span class="md-accent"  >100ll.kiachma.webfactional.com</span>
    </mat-toolbar-row>  

</mat-toolbar >

<app-dashboard ></app-dashboard>
<app-speed-dial-fab ></app-speed-dial-fab>
