  <h3>Airports</h3>
  <mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let airport of airportService.airports; let i = index" [selectable]="selectable"
             [removable]="removable" (removed)="deleteAirport(i)">
      {{airport}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Enter ICAO code"
           [matChipInputFor]="chipList"
           #airportInput
           [formControl]="airportCtrl"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           [matAutocomplete]="auto"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let airport of filteredAirports | async" [value]="airport">
      {{airport}}
    </mat-option>
  </mat-autocomplete>
  </mat-form-field>
  <h3>Visible</h3>
  <mat-slide-toggle
    [(ngModel)]="airportService.visible.sigmet">

    Sigmet chart
  </mat-slide-toggle>
  <mat-slide-toggle
  [(ngModel)]="airportService.visible.sigchart"
          >
    Sig-WX chart
  </mat-slide-toggle>
  <mat-slide-toggle
  [(ngModel)]="airportService.visible.radar"
          >
    YR (Rain)
  </mat-slide-toggle>
  <mat-slide-toggle
  [(ngModel)]="airportService.visible.clouds"
          >
    Windy (Clouds)
  </mat-slide-toggle>
  <mat-slide-toggle
  [(ngModel)]="airportService.visible.ceiling"
          >
    Windy (Sky base)
  </mat-slide-toggle>
  <mat-slide-toggle
  [(ngModel)]="airportService.visible.visibility"
          >
    Windy (Visibility)
  </mat-slide-toggle>
   <mat-slide-toggle
  [(ngModel)]="airportService.visible.lightning"
          >
    YR (Lightning)
  </mat-slide-toggle>


