<div class="grid-container">
  <mat-grid-list [cols]="breakpoint" [rowHeight]="rowHeight" (window:resize)="onResize($event)" >
    <mat-grid-tile [colspan]="'2'" [rowspan]="rowspan" *ngIf="airportService.visible.sigchart">
      <mat-card class="dashboard-card">
        <img mat-card-image src="https://www.aro.lfv.se/tor/nswc2aro.gif?995457" alt="Swedish sig-WX chart">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspan" [rowspan]="'3'"  *ngIf="airportService.visible.sigmet">
      <mat-card  class="dashboard-card">
        <!--mat-card-content class="dashboard-card-content"-->
          <app-sigmet   class="mat-card-image" [lat]='lat' [lng]='lng'></app-sigmet>
        <!--/mat-card-content-->
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspan" [rowspan]="'3'" *ngIf="airportService.visible.clouds">
       <mat-card  class="dashboard-card">
       <iframe class="mat-card-image" width="350" [height]="rowHeight*3" [src]="windyCloudUrl" frameborder="0"></iframe> 
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspan" [rowspan]="'3'" *ngIf="airportService.visible.ceiling">
       <mat-card  class="dashboard-card">
        <iframe class="mat-card-image" width="350" [height]="rowHeight*3" [src]="windyCeilingUrl  " frameborder="0"></iframe>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspan" [rowspan]="'3'" *ngIf="airportService.visible.visibility">
      <mat-card class="dashboard-card">
        <iframe class="mat-card-image" width="350" [height]="rowHeight*3" [src]="windyVisibilityUrl" frameborder="0"></iframe>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="'2'" [rowspan]="'3'" *ngIf="airportService.visible.radar">
      <mat-card class="dashboard-card">
         <img mat-card-image  src="https://api.met.no/weatherapi/radar/1.5/?radarsite=southeast_norway&type=reflectivity&content=animation&size=normal" frameborder="0">
         </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="'2'" [rowspan]="'3'" *ngIf="airportService.visible.lightning">
       <mat-card class="dashboard-card">
         <img mat-card-image  src="https://api.met.no/weatherapi/radarlightning/1.1/?radarsite=southeast_norway&type=lightning&content=animation" frameborder="0">
         </mat-card>
      <!--iframe width="622" height="350" src="https://embed.windy.com/embed2.html?lat=59.131&lon=10.217&zoom=5&level=surface&overlay=radar&menu=&message=&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=59.131&detailLon=10.217&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe-->
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let airport of airportService.airports " [colspan]="2" [rowspan]="2" >
      <mat-card class="dashboard-card">
        <img  style="margin-bottom: 0px;" mat-card-image src="{{getImageUrl(airport)}}" alt="Meteorogram for {{airport}}">
        <mat-card-content class="dashboard-card-content">
          <span class="mat-caption">
              <div div fxLayout="row">
                <app-wind fxFlex="50" [icao]='airport'></app-wind> <app-civil-twilight fxFlex="50" [icao]='airport'></app-civil-twilight>
              </div>
              <app-metar [icao]='airport'></app-metar>
              <app-taf [icao]='airport'></app-taf>
          
        </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
